body {
  font-family: verdana, sans-serif;
  background-color: black;
  text-align: center;
}

.heading h1 {
  font-size: 50px;
  color: white;
  font-weight: normal;
}

.heading a{
  color: aquamarine;
  font-size: 16px;
  }

.guide h2{
  font-weight: 300;
  font-size: 42px;
  color: white;
}

#guide-text {
  font-size: 21px;
  color: gray;
}
